/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

* {
	margin: 0;
	padding: 0;
}

body {
   	font-family: 'Open Sans', sans-serif;
}

.orangeDot {
	margin-left: 10px;
	margin-right: 10px;
}

#allContainer {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 960px;
}

.main {
   	font-weight: 600;
}

.nav {
    display: table-cell;
   	vertical-align: middle;
}

.nav li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
}

.nav li a {
	color: black;
    text-decoration: none;
}

#mainContent {
	background-color: #e6e5e5;
	background-image: url("../again/assets/images/bglogo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 660px;
	width: 960px;
}

.sub {
	/**/
}
