AddHandler cgi-script .cgi

Options +ExecCGI

ErrorDocument 404 /notFound.html

Redirect 301 /source.html http://flex.apache.org/download-source.html
Redirect 301 /news.html http://flex.apache.org/index.html
Redirect 301 /team.html http://flex.apache.org/about-people.html
Redirect 301 /mailing-lists.html http://flex.apache.org/community-mailinglists.html
