# AddHandler cgi-script .cgi

# Options +ExecCGI

ErrorDocument 404 /notFound.html

Redirect 301 /source.html /download-source.html
Redirect 301 /news.html /index.html
Redirect 301 /team.html /about-people.html
Redirect 301 /mailing-lists.html /community-mailinglists.html
Redirect 301 /tourdeflex/explorer.html /tourdeflex/index.html
Redirect 301 /dependencies/afe.jar https://sourceforge.net/adobe/flexsdk/code/HEAD/tree/trunk/lib/afe.jar?format=raw
Redirect 301 /dependencies/aglj40.jar https://sourceforge.net/adobe/flexsdk/code/HEAD/tree/trunk/lib/aglj40.jar?format=raw
Redirect 301 /dependencies/flex-fontkit.jar https://sourceforge.net/adobe/flexsdk/code/HEAD/tree/trunk/lib/flex-fontkit.jar?format=raw
Redirect 301 /dependencies/rideau.jar https://sourceforge.net/adobe/flexsdk/code/HEAD/tree/trunk/lib/rideau.jar?format=raw
Redirect 301 /dependencies/flex-messaging-common.jar https://sourceforge.net/adobe/flexsdk/code/HEAD/tree/trunk/lib/flex-messaging-common.jar?format=raw
Redirect 301 /dependencies/osmf1/osmf.swc https://sourceforge.net/adobe/flexsdk/code/HEAD/tree/trunk/frameworks/libs/osmf.swc?format=raw
Redirect 301 /dependencies/osmf2/OSMF.swc https://sourceforge.net/adobe/flexsdk/code/HEAD/tree/trunk/frameworks/libs/OSMF2_0.swc?format=raw
Redirect 301 /single-mirror-url-hack.html https://apacheflexbuild.cloudapp.net:8400/examples/servlets/servlet/GetMirror
Redirect 301 /flexjs/docs https://cwiki.apache.org/confluence/display/FLEX/FlexJS
