<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Apache Flex SDK</title>

    <link href="/flex/css/flex_again.css" rel="stylesheet" type="text/css">

    <style type="text/css" src="../css/flex-again.css"/>

</head>

<body>
  
	<div id="allContainer">
        <div id="mainNav" class="main nav">
            <ul>
                <li><a href="./index.html"><img src="./assets/images/logo.png" alt="Apache Flex Logo" height="66" width="147" /></a></li>
                <li><a href="./index.html">ABOUT</a></li>
                <li><img class="orangeDot" src="./assets/images/orangedot.png" alt="" height="5" width="5" /></li>
                <li><a href="./get_started_download.html">GET STARTED</a></li>
                <li><img class="orangeDot" src="./assets/images/orangedot.png" alt="" height="5" width="5" /></li>
                <li><a href="./community_team.html">COMMUNITY</a></li>
                <li><img class="orangeDot" src="./assets/images/orangedot.png" alt="" height="5" width="5" /></li>
                <li><a href="./download.html">DOWNLOAD</a>
                <li><img class="orangeDot" src="./assets/images/orangedot.png" alt="" height="5" width="5" /></li>
                <li><a href="http://www.apache.org/">ASF</a></li>
            </ul>
        </div>

        <div id="mainContent">