<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>

    <meta charset="utf-8">
    <title>Apache Flex®{% block title %}{% if headers.title %} - {{ headers.title }}{% endif %}{% endblock %}</title>

    <!-- For Mobiles  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/fixed-width.css" id="layout">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Java Script  -->
    <script src="js/jquery.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/selectnav.js"></script>
    <script src="js/flexslider.js"></script>
    <script src="js/twitter.js"></script>
    <script src="js/fancybox.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/bootstrap.js"></script>


</head>
<body>

<!-- Wrapper Start -->
<div id="wrapper" class="container-fluid">


    <!-- Header -->


    <div class="ie-dropdown-fix" >

        <!-- Header -->
        <div class="row-fluid" id="header">

            <!-- Logo -->
            <div class="span5">

                <a href="#"><img src="images/logo_01_fullcolor-sm.png" alt="Apache Flex®" title="Apache Flex®" /></a>

            </div>

            <!-- Social / Contact -->
            <div class="span3 pull-right">

                <!-- Social Icons -->
                <ul class="social-icons">
                    <li class="facebook"><a href="https://www.facebook.com/pages/Apache-Flex/174249699342648">Facebook</a></li>
                    <li class="twitter"><a href="http://twitter.com/ApacheFlex">Twitter</a></li>
                    <li class="linkedin"><a href="http://www.linkedin.com/groups/Apache-Flex-Developers-4296888">LinkedIn</a></li>
                </ul>

                <!-- Apache Logo -->
                <a href="http://www.apache.org" id="contact-top"><img src="http://www.apache.org/images/feather-small.gif" title="An Apache Project" alt="An Apache Project" /> </a>
            </div>

        </div>
        <!-- Header / End -->

        <!-- Navigation -->
        <div id="navigation" class="margintop">
            <ul id="nav">

                <li><a href="index.html">Home</a></li>

                <li><a href="#">About Flex</a>
                    <ul>

                        <li><a href="about-whatis.html">What is Flex?</a></li>
                        <li><a href="about-licensing.html">License &amp; Trademarks</a></li>
                        <li><a href="about-people.html">The Team</a></li>
                        <li><a href="about-history.html">Project History</a></li>
                        <li><a href="about-assets.html">Logo and Assets</a></li>
                    </ul>
                </li>
                <li><a href="#">Community</a>
                    <ul>

                        <li><a href="community-getinvolved.html">How to get involved</a></li>
                        <li><a href="community-mailinglists.html">Mailing Lists</a></li>
                        <li><a href="https://cwiki.apache.org/confluence/display/FLEX/Apache+Flex+Wiki">Wiki</a></li>
                        <li><a href="http://blogs.apache.org/flex/">Blog</a></li>
                    </ul>
                </li>

                <li><a href="#">Development</a>
                    <ul>
                        <li><a href="dev-sourcecode.html">Source Code</a></li>
                        <li><a href="https://issues.apache.org/jira/browse/FLEX">Bug-Tracker</a></li>
                        <li><a href="dev-faq.html">Developer FAQ</a></li>
                    </ul>
                </li>

                <li><a href="#">Documentation</a>
                    <ul>

                        <li><a href="doc-getstarted.html">Getting Started</a></li>
                        <li><a href="doc-videos.html">Videos</a></li>
                        <li><a href="asdoc/index.html">ASDocs</a></li>
                        <li><a href="http://help.adobe.com/en_US/flex/using/index.html">Documentation Reference (Old)</a></li>

                    </ul>
                </li>

                <li><a href="#">The Apache Foundation</a>
                    <ul>

                        <li><a href="http://www.apache.org">Apache Website</a></li>
                        <li><a href="http://www.apache.org/foundation/contributing.html">Donations</a></li>
                        <li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                        <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
                    </ul>
                </li>

                <li><a href="#" class="download">Download</a>
                    <ul>

                        <li><a href="download-installer.html">Download the SDK Installer (For Application Developers)</a></li>
                        <li><a href="download-binaries.html">Download the SDK Binaries (For SDK Developers)</a></li>
                        <li><a href="download-source.html">Download the SDK Source Code (For SDK Developers)</a></li>
                        <li><a href="download-utilities.html">Download Utilities</a></li>
                        <li><a href="download-archive.html">Previous Versions</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="nav-shadow"></div>
        <div class="clear"></div>

    </div>
    <!-- Navigation / End -->


    <!-- Content -->

    {% block title %}{% if headers.title %}
    <div class="row-fluid">


        <!-- Page Title -->
        <div id="page-title">
            <h2>{{ headers.title }}</h2>
        </div>
        <!-- Page Title / End -->


    </div>
    {% endif %}{% endblock %}

    <div class="row-fluid">