{% include header %}
<!-- start content -->

    <div id="flex-content">
        <!-- The headers 'object' contains properties who's values are defined
             at the top of the 'fhtml' page ([name]: value). -->
         {% block notice %}{{ headers.notice }}{% endblock %}

         <!-- conditional based on headers 'property' value -->
         {% if headers.usenav == "about" %}Whoa!{% endif %}
         
         <!-- The various 'flex_xxx' variables are automatically parsed by the
              CMS from files in the 'templates' directory (i.e. flex_insert.mdtext
              will be parsed into the 'flex_insert' variable). -->
         {% if flex_insert %}
            {% autoescape off %}{{ flex_insert|markdown }}{% endautoescape %}
         {% endif %}

         <!-- This is a placeholder 'content' that will hold the contents of 
              the variable 'content' after it has been filtered through the 
              'markdown' filter. -->
         {% block content %}{{ content|markdown }}{% endblock %}
    </div>

<!-- end content -->
{% include footer %}