{% include header %}

    <div id="flex-content">
         {% block notice %}{{ headers.notice }}{% endblock %}

         {% block conditional %}
            <!-- About -->
            {% if headers.isabout %}
                {% if flex_about %}
                   {% autoescape off %}{{ flex_about }}{% endautoescape %}
                {% endif %}
                {% block content %}{{ content|markdown }}{% endblock %}
            {% endif %}
        {% endblock %}
    </div>

{% include footer %}