@CHARSET "ISO-8859-1";

@font-face {
	font-family: Vegur;
	src: url('Vegur-Regular.eot'); /* IE */
	src: url('/css/Vegur_R_0602.otf') format("opentype");
}

body
{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0px;
	background: url(../images/bg_body_blue.png) no-repeat top center #034963;
}

h1
{
	font-size: 32px;
	font-family: Arial, Helvetica, sans-serif;
	color: #034963;
	display: inline;
	margin: 0;
}

h2, h3
{
	font-family: Arial, Helvetica, sans-serif;
	color: #034963;
}

p
{
	font-size: 18px;
	color: #343434;
}

p.caption
{
	text-align: center;
	position: relative;
	top: -10px;
	font-size: 0.85em;
}

pre
{
	background-color: #f1f1f1;
	border-color: #dfdfdf;
	border-width: thin;
	border-style: solid;
}

code
{
	font-size: 14px;
}

ol pre,ul pre
{
	font-size: 14px;
}

li
{
	margin: 10px;
	font-size: 18px;
	color: #343434;
}

#container
{
	width: 1024px;
	margin: 0 auto;
	background-color: #ffffff;
}

#header
{
	padding: 5px;
	height: 150px;
	background-color: #ffffff;
}

#logo
{
	position: relative;
	top: 10px;
	padding: 10px;
}

#unitdownload
{
	padding-top: 70px;
	padding-left: 50px;
}

#content
{
	padding-top: 20px;
	padding-left: 23px;
	padding-bottom: 20px;
	width: 875px;
}

a.contentlink {font-size: 18px;}
a.contentlink:link {color: #0000aa;}
a.contentlink:visited {color: #551188;}
a.contentlink:hover {color: #2288aa;}
a.contentlink:active {color: #;}

#content img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 850px;
}

#contentborder
{
	background-image: url('../images/banner.png');
	background-repeat: no-repeat;
	margin-left: 20px;
}

#indexborder
{
	background-image: url('../images/border_header.png');
	background-repeat: no-repeat;
	margin-left: 20px;
	padding-top: 100px;
}

#footer
{
	position: relative;
	clear: both;
	background: #ffffff;
	padding-bottom: 10px;
	top: 30px;
	text-align: center;
}

#indexfooter
{
	position: relative;
	clear: both;
	background: #ffffff;
	padding-bottom: 10px;
	margin-top: 200px;
	text-align: center;
}

#footer p, #indexfooter p
{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#sitenav
{
	float: right;
	padding-right: 57px;
}

#sitenav a
{
	float: right;
}

#learnmore
{
	padding-top: 1px;
	padding-bottom: 1px;
	position: relative;
	background-color: #aaaaaa;
	top: 150px;
}

#learnmore p
{
	text-align: center;
	font-size: 22px;
	color: 	#034963;
}

#learnmore a {text-decoration: none;}
#learnmore a:link {color: #034963;}
#learnmore a:hover {color: #ffffff;}

#footnav
{
	background-color: #ffffff;
	margin-top: 30px;
	margin-left: 112px;
	margin-right: 112px;
	width: 800px;
	height: 82px;
}

#tutorialbanner
{
	position: relative;
	left: -108px;
	margin-top: 50px;
	width: 1239px;
	
}

/************************************************************
*****				TRAINING CLASSES					*****
************************************************************/

#trainingleft
{
	float: left;
	font-style: italic;
	padding: 50px 40px 0px;
	width: 268px;
}

#trainingleft p
{
	font-size: 17px;
}

#trainingright
{
	float: right;
	margin-top: 0px;
	margin-right: 60px;
	width: 616px;
	height: 518px;
	background-image: url('../images/training/onsite_training_dottedline.png');
	background-repeat: no-repeat;
}

#trainingrightcontent
{
	position: relative;
	top: 80px;
	left: 20px;
	width: 576px;
	
}

#trainingrightcontent li
{
	font-size: 16px;
}

#trainingbanner
{
	position: relative;
	left: -102px;
	margin-top: 40px;
	width: 1228px;
	
}

/************************************************************
*****				TUTORIAL ROLLOVERS					*****
************************************************************/

a.flexunit
{
	display: block;
	float: left;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 75px;
	width: 511px;
	height: 280px;
	background: url('../images/tutorial_home/Tutorial_link_default.png');
}

a.flexunit:hover
{
	background: url('../images/tutorial_home/Tutorial_link_hover.png');
}

#download_all
{
	float:right;	
}

/************************************************************
*****				NAVIGATION ROLLOVERS				*****
************************************************************/

a.main
{
	display: block;
	width: 196px;
	height: 68px;
	background: url('../images/Navigation/main_default.png');
}

a.main:hover
{
	background: url('../images/Navigation/main_rllvr.png');
}

a.training
{
	display: block;
	width: 196px;
	height: 68px;
	background: url('../images/Navigation/training_default.png');
}

a.training:hover
{
	background: url('../images/Navigation/training_rllvr.png');
}

a.tutorial
{
	display: block;
	width: 195px;
	height: 68px;
	background: url('../images/Navigation/tutorials_default.png');
}

a.tutorial:hover
{
	background: url('../images/Navigation/tutorials_rllvr.png')
}

/************************************************************
*****				   FOOTER ROLLOVERS					*****
************************************************************/

a.prev
{
	float: left;
	width: 148px;
	height: 72px;
	background: url('../images/back_default.png');
}

a.prev:hover
{
	background: url('../images/back_rllvr.png');
}

a.indexbutton
{
	float: left;
	margin-right: 170px;
	margin-left: 170px;
	width: 168px;
	height: 72px;
	background: url('../images/Chapter_index.png');
}

a.firstindexbutton
{
	float: right;
	margin-right: 171px;
	width: 168px;
	height: 72px;
	background: url('../images/Chapter_index.png');
}

a.next
{
	float: right;
	width: 143px;
	height: 72px;
	background: url('../images/next_default.png');
}

a.next:hover
{
	background: url('../images/next_rllvr.png');
}

/************************************************************
*****				  FLEXUNIT ROLLOVERS	 			*****
************************************************************/

a.units
{
	font-family: Vegur, Arial, Helvetica, sans-serif;
	font-size: 22px;
	display: block;
	width: 971px;
	padding: 7px 0px 7px 10px;
	background-color: #ffffff;
	color: #545454;
	text-decoration: none;
}

a.units:hover
{
	background-color: #77a3b5;
	color: #ffffff;
}

