/*Reset Rules
 
        
 #Lists
================================================== 

*/	ul, ol { margin: 0 !important; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin-left: 1em; }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-left: 2em; }
	li { line-height: 18px; margin-left: 20px; padding-left: 6px }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
    ul {list-style: circle; }
    ol {list-style: decimal; }/*

Reset Rules End*/


/* =================================================================== */
/* Fixed Width
====================================================================== */

body {
    background: url(../images/bg/dark_wall.png);
    font-size: 12px;
    font-family: 'Carrois Gothic', sans-serif !important;
    color: #666;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

#wrapper {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 20px 35px 35px 35px;
    width: 960px ;
    margin: 50px auto 0px auto;
}

#footer {
    background: #333;
    padding: 15px 35px 0px 35px;
    width: 960px;

    margin: 0 auto;
}

.thumbnail{border: none !important;}

h3, h2 ,h1 ,h4{

    font-weight: normal !important;

}

/* Smaller than standard 1029 (devices and browsers)
====================================================================== */
@media only screen and (max-width: 1029px) {



}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {


}

/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 767px) {

.nav-shadow {

bottom: -12px !important;}
}
